.App {
  margin: 20px;
}

ul {
  list-style: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li {
  width: 100%;
  list-style: none;
  list-style-type: none;
  margin: 2px 0;
  padding: 2px 0;
  text-align: left;
  border: 1px solid darkgrey;
}
